@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* font-family: "Podkova", serif; */

@theme {
  --font-heading: "Podkova", serif;
  --font-poppins: "Poppins", sans-serif;

  --color-greenColor: #2f5349;
  --color-yellowColor: #ffd640;
  --color-bg1: #f8f7fe;
  --color-bg2: #e3f7ee;
  --color-bg3: #fef7ec;
  --color-bg4: #f6f1da;

  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

html {
  @apply font-poppins;
}
.active {
  @apply text-greenColor underline decoration-yellowColor underline-offset-3 font-medium;
}
